* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ==========COmmon============= */
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 118px;
  color: #fff;
  padding: 0 16px;
  line-height: 50px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
}
.heading {
  color: #171100;
  font-family: Sen;
  font-weight: 700;
  letter-spacing: -1.16px;
}
.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
}
.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}
/* ===========content=========== */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* ===========Header============ */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 8px 21px;
}
.nav li.active,
.nav a:hover {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}
.nav li.active a::after {
  display: block;
  position: absolute;
  left: 21;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .sign-up-btn {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* =============Hero================ */
.hero {
  padding-top: 56px;
  background-color: #fffcf4;
}
.body .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  vertical-align: baseline;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 270px;
  padding: 28px 24px;
}
.body .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}
.hero-summary .item {
  display: flex;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: #fff9e8;
  margin-right: 16px;
}

.hero-summary .info .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}
.hero-summary .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}

.content-block .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
}
.hero .cta-group {
  margin: 38px 0 48px;
  display: flex;
  align-items: center;
}
.content-block .btn.hero-cta {
  min-width: 180px;
  background: var(--primary-color);
  line-height: 64px;
}
.content-block .watch-video {
  display: flex;
  border: none;
  background: #fff;
  margin-left: 28px;
  cursor: pointer;
}
.cta-group span {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 166.667% */

  margin-left: 14px;
}
.hero .watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
.content-block .desc.stats strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.22; /* 122.727% */
}
.hero .stats {
  margin: 8px 0 -28px;
}
/* ========================Popular===================== */

.popular .popular-top {
  padding: 65px 0;
  margin-top: 135px;
}
.popular-top .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
  width: 458px;
  margin-top: 16px; /* 166.667% */
}
.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-top .control-btn {
  border: 1px solid var(--primary-color);
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
.popular-top .control {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn:hover {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
}
/* =================Course List==================== */
.popular .course-list {
  display: flex;
  gap: 30px;
}
.course-item .thumb {
  width: 370px;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.popular .course-item .title a {
  padding-right: 6px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}
.course-item .info {
  padding: 16px 22px;
}
.popular .course-item {
  border-radius: 12px;
  background: #fff;
  border: 1px solid #e2dfda;
}
.popular .course-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.1);
}
.course-item .info .head,
.course-item .foot,
.course-item .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-item .desc {
  width: 326px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
  margin-top: 6px;
}
.course-item .rating span {
  color: var(--primary-color);
  margin-left: 6px;
}
.course-item .foot .price {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}
.course-item .foot .btn:hover {
  opacity: 0.9;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
}
.lain-champ {
  display: -webkit-box;
  -webkit-line-clamp: var(--primary-color);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}
.feedback .feedback-item {
  display: flex;
  justify-content: space-between;
}
.feedback .info .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.feedback .info .title {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41; /* 141.667% */
}
.feedback .info .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}
.feedback .info .dots {
  display: flex;
  margin-top: 28px;
}
.feedback .info .dot {
  background: #634700;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 4px;
}
.feedback .info .dot.active {
  background: var(--primary-color);
}
.feedback-item .content {
  width: 66%;
}
.feedback-item blockquote {
  margin-left: 30px;
  color: #fff;
  font-family: Poppins;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53; /* 153.846% */
}
/* =====================Features==================== */
.features {
  margin-top: 135px;
  padding: 65px 0;
}
.features .body {
  display: flex;
  justify-content: space-between;
}
.features .image {
  display: flex;
}
.features .image img {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  margin-right: 30px;
}
.features .image .lower {
  margin-top: 34px;
}
.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.features .content .desc {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  padding: 16px 0;
}
.features .content .cta-btn {
  background: var(--primary-color);
  color: #fff;
  min-width: 137px;
}
.features-2nd {
  margin-top: 70px;
}
.features-2nd .body {
  flex-direction: row-reverse;
}
.features-2nd .content {
  width: 49%;
}
.features-2nd .image img {
  width: 470px;
  height: 440px;
}
/* ================Blog===================== */
.blog {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}
.blog .blog-top {
  text-align: center;
}
.blog-top .desc {
  color: #696262;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}
.blog .blog-list {
  display: flex;
  margin-top: 55px;
}
.blog .blog-list .item {
  width: 33.33%;
  gap: 30px;
}
.blog-list .item:hover {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog-list .item .thumb {
  width: 370px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.blog-list .item .date {
  position: relative;
  display: inline-flex;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  align-items: center;
  line-height: 1.85; /* 185.714% */
  padding-bottom: 12px;
}
.blog-list .info {
  padding: 20px 30px;
}
.blog-list .item .date::before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  margin-right: 4px;
  border-radius: 50%;
  background: var(--primary-color);
}
.blog-list .item .date::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}
.blog .item .title a {
  display: inline-block;
  margin-top: 13px;
  color: #171100;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}
.blog .item .btn {
  margin-top: 12px;
}
.blog .item .btn:hover {
  background: var(--primary-color);
  color: #fff;
}
